<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="space.cc.com.fragmenttest">

    <!--
    网络权限请求  安卓系统为了保护用户设备安全和隐私
    程序要进行一些敏感操作就必须配置中声明权限
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 声明获取 监听系统开机广播的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- 申请获取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- android6.0以前申请打电话 只需要此处进行配置 但是后面版本改为只能使用运行时权限  否则报错 Permission Denial -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- android 4.4之前访问sd卡应用关联目录还是需要申请权限的 所以做下兼容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- //读取设备硬件信息，统计数据 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- //读取系统信息，包含系统版本等信息，用作统计 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- //获取统计数据 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- //使用步行AR导航，配置Camera权限 -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 8.0必要权限 安装apk -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REPLACE_EXISTING_PACKAGE" />

    <!--
    有了自定义的应用时 在应用里面记得初始化Litepal的使用 如下
    public class MyOwnApplication extends Application {

    @Override
    public void onCreate() {
        super.onCreate();
        LitePal.initialize(this);
    }
    ...
}
    <application
        android:name="org.litepal.LitePalApplication">
   </application>
    -->
    <!-- android:label="@string/app_name" -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        百度位置服务相关 在网站上以开发者身份获取自己应用的 api_key
        http://lbsyun.baidu.com/index.php?title=androidsdk/guide
        -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="kpw3x7tBA6SjVGUq3avpiPyMCLkE7q9u" />

        <activity android:name=".MainActivity" />
        <activity android:name=".NewsContentActivity" />
        <activity
            android:name=".broadcast.BroadcastTestActivity"
            android:label="broadcast test" />
        <!--
        静态广播接收器 必须此处进行配置注册
        exported表示是否允许接收其他程序的广播
        anabled表示是否启用
        -->
        <!--
        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
        <!--
        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="space.cc.com.fragmenttest.broadcast.MyBroadCast" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activity.FileTestActivity" />
        <activity android:name=".activity.DBTestActivity" />
        <activity android:name=".activity.LitePalTestActivity" />
        <activity android:name=".activity.ShowBooksActivity" />
        <activity android:name=".activity.RuntimePermmissionTestActivity" />
        <activity android:name=".activity.VisitOtherProgramDataTestActivity" />
        <!-- MyContentProvider 自定义内容提供器 -->
        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="cc.com.databasetest.provider"
            android:enabled="true"
            android:exported="true" />
        <!-- fileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cc.space.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".service.MyService" />
        <service android:name=".service.DownLoadService" />
        <!-- //百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".activity.media.NotificationTestActivity" />
        <activity android:name=".activity.media.NotificationDisplayActivity" />
        <activity android:name=".activity.media.CameraAlbumActivity" />
        <activity android:name=".activity.media.VideoTestActivity" />
        <activity android:name=".activity.OkGoTestActivity" />
        <activity android:name=".activity.MyServiceActivity" />
        <activity android:name=".activity.MapLocationActivity" />
        <activity android:name=".activity.MaterialDesignActivity" />
        <activity
            android:name=".activity.BrvahTestActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabTestActivity"
            android:label="@string/title_activity_tab_test"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DrawerDemoActivity"
            android:label="@string/title_activity_drawer_demo"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>