<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.cc.com.fragmenttest">

    <!--
    网络权限请求  安卓系统为了保护用户设备安全和隐私
    程序要进行一些敏感操作就必须配置中声明权限
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 声明获取 监听系统开机广播的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
<!-- android6.0以前申请打电话 只需要此处进行配置 但是后面版本改为只能使用运行时权限  否则报错 Permission Denial -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--
    有了自定义的应用时 在应用里面记得初始化Litepal的使用 如下
    public class MyOwnApplication extends Application {

    @Override
    public void onCreate() {
        super.onCreate();
        LitePal.initialize(this);
    }
    ...
}
    <application
        android:name="org.litepal.LitePalApplication">
   </application>
    -->
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".NewsContentActivity" />
        <activity
            android:name=".broadcast.BroadcastTestActivity"
            android:label="broadcast test" />
        静态广播接收器 必须此处进行配置注册
        exported表示是否允许接收其他程序的广播
        anabled表示是否启用
        <!--
        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
        <!--
        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="space.cc.com.fragmenttest.broadcast.MyBroadCast" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activity.FileTestActivity" />
        <activity android:name=".activity.DBTestActivity" />
        <activity android:name=".activity.LitePalTestActivity">

        </activity>
        <activity android:name=".activity.ShowBooksActivity" />

        <activity android:name=".activity.RuntimePermmissionTestActivity"
            android:background="@drawable/image04">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>